[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
beautifulsoup4 = "*"
bs4 = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
flake8 = "*"
flask = "*"
flask-basicauth = "*"
greenlet = "*"
gunicorn = "*"
idna = "*"
itsdangerous = "*"
jinja2 = "*"
mariadb = "*"
markupsafe = "*"
mccabe = "*"
mysql = "*"
mysqlclient = "*"
numpy = "*"
packaging = "*"
pandas = "*"
pycodestyle = "*"
pyflakes = "*"
pymysql = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
six = "*"
soupsieve = "*"
sqlalchemy = "*"
toml = "*"
tomli = "*"
typing-extensions = "*"
urllib3 = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.7"
