autopep8
beautifulsoup4
bs4
certifi
charset-normalizer
click
Flask
Flask-BasicAuth
greenlet
gunicorn
idna
itsdangerous
Jinja2
mariadb
MarkupSafe
mysql
mysqlclient
numpy
pandas
pycodestyle
PyMySQL
python-dateutil
pytz
requests
six
soupsieve
SQLAlchemy
toml
urllib3
Werkzeug
