/* For use in src/lib/core/theming/_palette.scss */
$md-stukblue: (50 : #e1e2e5,
  100 : #b5b6bf,
  200 : #848594,
  300 : #535469,
  400 : #2e2f48,
  500 : #090a28,
  600 : #080924,
  700 : #06071e,
  800 : #050518,
  900 : #02030f,
  A100 : #5252ff,
  A200 : #1f1fff,
  A400 : #0000eb,
  A700 : #0000d1,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  ));

$md-stukred: (50 : #f6e0e0,
  100 : #e9b3b3,
  200 : #db8080,
  300 : #cd4d4d,
  400 : #c22626,
  500 : #b70000,
  600 : #b00000,
  700 : #a70000,
  800 : #9f0000,
  900 : #900000,
  A100 : #ffbcbc,
  A200 : #ff8989,
  A400 : #ff5656,
  A700 : #ff3c3c,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  ));
