

{% extends 'base.html' %}
{% block title %}Warteliste{% endblock %}
{% block content %}
<a id="bfb" role="button" class="btn btn-primary btn-lg btn-block mb-2" href="/list">Eintragen</a>
<table class="table entries"
        data-toggle="table"
        data-url="/api/queue"
        data-pagination="true"
        data-classes="table"
        data-show-refresh="false"
        data-auto-refresh="true"
        data-auto-refresh-interval="10">
    <thead>
        <tr>
            <th data-field="Name">Name</th>
            <th data-field="Title">Song</th>
            <th data-field="Artist">Künstler</th>
        </tr>
    </thead>
</table>
<a name="end"></a>
{% endblock %}
{% block extrajs %}
<script>
$.getJSON("/api/entries/accept", (data) => {
    if (data["value"]==0) {
        $("#bfb").addClass("disabled")
        $("#bfb").prop("aria-disabled",true);
        $("#bfb").prop("tabindex","-1");
        $("#bfb").wrap("<span class='tooltip-span' tabindex='0' data-toggle='tooltip' data-placement='bottom'></span>");
                $(".tooltip-span").prop("title", "Eintragungen sind leider momentan nicht möglich.")
                $('[data-toggle="tooltip"]').tooltip()
    }
})
</script>
{% endblock %}