:root {
  /* Navbar */
  --navbar-background-color: #343a40;
  --navbar-text-color: rgba(255, 255, 255, .5);
  --navbar-text-color-hover: rgba(255, 255, 255, .75);
  --navbar-text-color-active: rgba(255, 255, 255, 1);
  --navbar-padding: 4.5rem;

  /* Common */
  --background-color: #ffffff;
  --background-color-var: #f5f5f5;
  --text-color: #212529;
  --text-color-var: #343a40;
  --text-color-light: #6c757d;

  /* Modals */
  --modal-background-color: #ffffff;
  --modal-separator-color: #dee2e6;
  --modal-close-color: #212529;

  /* Tables */
  --table-border-color: #dee2e6;

  /* Input */
  --input-background-color: #ffffff;

  /* Misc */
  --copy-highlight-color: rgba(251, 255, 0, 0.6);

  /* Toasts */
  --toast-background-color: #ffffff;
  --toast-text-color: #212529;

  /* Footer */
  --footer-height: 80px;
}


body {
  padding-top: var(--navbar-padding);
  background-color: var(--background-color);
}

html,
body {
  height: 100%;
}

.site {
  min-height: calc(100vh - var(--navbar-padding) - var(--footer-height));
  margin-bottom: -var(--footer-height);
}

.footer {
  /*margin-top: var(--footer-height);*/
  width: 100%;
  height: var(--footer-height);

  background-color: var(--background-color-var);
}

.topbutton {
  width: 100%;
}

table td {
  overflow: hidden;
  text-overflow: ellipsis;
}

table.entries tbody tr[data-index="0"] {
  background-color: #007bff80;
  font-weight: 600;
}

table.entries tbody tr[data-index="1"] {
  background-color: #007bff40;
  font-weight: 500;
}

table.entries tbody tr[data-index="2"] {
  background-color: #007bff20;
  font-weight: 400;
}

table.entries tbody tr[data-index="3"] {
  background-color: #007bff10;
}

table td:first-child {
  max-width: 200px !important;
}

.fa-solid {
  vertical-align: auto;
}

@media (min-width: 768px) {
  .topbutton {
    width: auto;
  }
}

@media print {
  body {
    font-size: 1.3em;
  }

  .footer {
    display: none !important;
  }

  .admincontrols {
    display: none;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.footer {
  background-color: var(--background-color-var);
}

.modal-content {
  background-color: var(--background-color);
  color: var(--text-color);
}

.modal-header {
  background-color: var(--background-color);
  color: var(--text-color-var);
  border-color: var(--modal-separator-color);
}

.modal-footer {
  background-color: var(--background-color);
  color: var(--text-color-var);
  border-color: var(--modal-separator-color);
}

.form-control {
  background-color: var(--input-background-color);
  color: var(--text-color)
}

.form-control:focus {
  background-color: var(--input-background-color);
  color: var(--text-color)
}

.table td,
.table th {
  border-color: var(--table-border-color)
}

.table thead th {
  border-color: var(--table-border-color)
}

table td.buttoncell {
  text-align: end;
}

.close {
  color: var(--text-color)
}

pre {
  color: var(--text-color-var)
}

#entrytable td>span:hover {
  background-color: var(--copy-highlight-color);
}

.list-indicator {
  width: 1.5rem;
  height: 1.5rem;
}

#songYear {
  font-size: small;
  font-weight: 400;
  color: var(--text-color-light);
}

.construction_bg {
  background: repeating-linear-gradient(45deg,
      #222200,
      #222200 10px,
      #000000 10px,
      #000000 20px) !important;
}

.toast {
  background-color: var(--toast-background-color);
  color: var(--toast-text-color);
}

.toast-header {
  background-color: var(--toast-background-color);
  color: var(--toast-text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Navbar */
    --navbar-background-color: #343a40;
    --navbar-text-color: rgba(255, 255, 255, .5);
    --navbar-text-color-hover: rgba(255, 255, 255, .75);
    --navbar-text-color-active: rgba(255, 255, 255, 1);

    /* Common */
    --background-color: #121212;
    --background-color-var: #232323;
    --text-color: #f5f5f5;
    --text-color-var: #a2a2a2;
    --text-color-light: #6c757d;

    /* Modals */
    --modal-background-color: #121212;
    --modal-separator-color: #232323;
    --modal-close-color: #f5f5f5;

    /* Tables */
    --table-border-color: #232323;

    /* Input */
    --input-background-color: #343434;

    /* Toasts */
    --toast-background-color: #232323;
    --toast-text-color: #f5f5f5;
  }
}