

{% extends 'base.html' %}
{% block title %}Warteliste{% endblock %}
{% block content %}
<button id="bfb" role="button" class="btn btn-primary btn-lg btn-block mb-2" href="/list">Eintragen</button>
<table class="table"
        data-toggle="table"
        data-url="/api/queue"
        data-pagination="true"
        data-classes="table">
    <thead>
        <tr>
            <th scope="col" data-field="Name">Name</th>
            <th scope="col" data-field="Title">Song</th>
            <th scope="col" data-field="Artist">Künstler</th>
        </tr>
    </thead>
</table>
<a name="end"></a>
{% endblock %}
{% block extrajs %}
<script>
$.getJSON("/api/entries/accept", (data) => {
    if (data["value"]==0) {
        $("#bfb").addClass("disabled")
        $("#bfb").prop("aria-disabled",true);
        $("#bfb").prop("tabindex","-1");
    }
})
</script>
{% endblock %}