

{% extends 'base.html' %}
{% block title %}Warteliste{% endblock %}
{% block content %}
<a role="button" class="btn btn-primary btn-lg btn-block mb-2" href="/list">Eintragen</a>
<table class="table"
        data-toggle="table"
        data-url="/api/queue"
        data-pagination="true"
        data-classes="table">
    <thead>
        <tr>
            <th scope="col" data-field="Name">Name</th>
            <th scope="col" data-field="Title">Song</th>
            <th scope="col" data-field="Artist">Künstler</th>
        </tr>
    </thead>
</table>
<a name="end"></a>
{% endblock %}